.logotipo {
	padding: 10px;
	margin-right: 20px;
}
.logotipo img {
	height: 30px;
}

.perfil {
    padding: 10px;
    width: 300px;
}

.perfil li:FIRST-CHILD {
	font-size: 1.0em;
	font-weight: bold;
	margin-bottom: 2px;
}

.cabecalho h1 {
	margin: 0;
	font-size: 3em;
}

.busca {
	margin-top: 12px;
}

.dados-os {
	margin-top: 30px;
}

.paginacao .pagination {
	margin: 0;
}

@MEDIA (max-width: 767px)  {
	.perfil {
		color: #FFF;
	}
	
	.perfil a {
		color: #9d9d9d;
		display: block;
		padding: 5px 0;
	}
	
	.perfil a:HOVER {
		text-decoration: none;
		color: #FFF;
	}
	
	.paginacao {
		text-align: center;
	}
	
	.paginacao .pagination {
		margin-top: 20px;
	}
}