body{
	min-height: 100vh; 
	background-color: #CCC;
	background-image: url("https://unsplash.it/g/1500/800?random");
}

.login-form {
	margin-top: 50vh;
	padding: 20px 30px;
	background-color: rgba(0,0,0,.9);
	color: #FFF;
	
	transform: translateY(-50%);
}

.login-form h1 {
	margin: 0 0 5px;
}

.login-form h2 {
	margin: 0 0 30px;
	font-size: 1em;
}